$body--grey: #F9F9F9;
$header--greyLight: #5DA20C;
$footer--brown: #3F230B;
// barvy kategorii
$category--white: #D4D1D1;
$category--yellow: #BDB65F;
$category--green: #729E73;
$category--black: #756D6D;
$category--oolongy: #BF9671;
$category--puerh: #85CCF4;
// sizes
$sizing--header: 100px;
$sizing--footer: 75px;