.login {
	max-width: 400px;

	H1 {
		margin: 0;
		margin-top: 20px;
	}

	SMALL {
		display: block;
		margin: 10px 0 30px 0;
	}

	LABEL {

		&.login__radio {
			display: inline-block;
			margin: 0 20px 20px 10px;
			font-size: 0.9em;
		}
	}

	INPUT[type='submit'] {
		margin: 20px 0;
	}

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - #{$sizing--header} - #{$sizing--footer});

	&__customer {
		background: white;
		padding: 50px;
		box-shadow: 0 1px 2px rgba(25, 25, 25, 0.2);

		// flex: 1 1 66%;
	}

	// &__employee {
	// 	//background: green;
	// 	flex: 1 1 33%;
	// }
}